server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: furb-x
    password: 155795

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        default_schema: public
