spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres?currentSchema=public
    username: USERNAME
    password: PASSWORD

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        default_schema: public
